@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: local('NotoSansKR Light');
  src: url('fonts/NotoSansKR-Light.woff2') format('woff2'),
       url('fonts/NotoSansKR-Light.woff') format('woff'),
       url('fonts/NotoSansKR-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: local('NotoSansKR Regular');
  src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
       url('fonts/NotoSansKR-Regular.woff') format('woff'),
       url('fonts/NotoSansKR-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansKR Medium');
  src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
       url('fonts/NotoSansKR-Medium.woff') format('woff'),
       url('fonts/NotoSansKR-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansKR Bold');
  src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
       url('fonts/NotoSansKR-Bold.woff') format('woff'),
       url('fonts/NotoSansKR-Bold.ttf') format('truetype');
}
